* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
ul {
  padding: 0;
  list-style-type: none;
  border: 5px solid teal;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  border: 5px solid tomato;
  border-radius: 8px;
}

.container {
  display: grid;
  height: 500px;

  /* 열크기와 열 갯수 지정 fr -> 사용할 수 있는 공간에서 비율로 나누겠따 */
  /* grid-template-columns: repeat(3, 1fr); */
  /* 1번쨰 인자에 auto-fill auto-fit,아니면 적용할 갯수 */
  /* 100px 1fr auto 다 사용가능 */
  /* grid-template-rows: repeat(2, 1fr); */
  /* grid-template-rows: 200px 1fr 1fr; */

  /* gap: 10px; */
  /* gap grid-gap */

  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'a a a '
    'b c e'
    'd d e';

  /* 빈 공간은 . 세로로 늘릴 수도 있다. */
}

li:nth-child(1) {
  grid-area: a;
}
li:nth-child(2) {
  grid-area: b;
}
li:nth-child(3) {
  grid-area: c;
}
li:nth-child(4) {
  grid-area: d;
}
li:nth-child(5) {
  grid-area: e;
}
