* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
ul {
  display: flex;
  padding: 0;
  list-style-type: none;
  height: 200px;

  flex-direction: row;
  /* row , row-reverse , column, column-reverse */
  flex-wrap: wrap;
  /* wrap , nowrap, wrap-reverse */
  /* flex-direction과 flex-wrap 을 한번에 지정하는 속성
  flex-flow: row-reverse wrap; */
}
